In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Read the cities CSV into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avera,US,2022-05-10 00:31:48,33.1940,-82.5271,65.71,60,5,4.94
1,1,Vaini,TO,2022-05-10 00:23:06,-21.2000,-175.2000,77.16,61,40,6.91
2,2,Coquimbo,CL,2022-05-10 00:31:50,-29.9533,-71.3436,58.73,82,0,2.30
3,3,Kapaa,US,2022-05-10 00:28:10,22.0752,-159.3190,82.72,73,20,13.80
4,4,Maneadero,MX,2022-05-10 00:31:50,31.7167,-116.5667,64.09,73,55,5.99

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# General syntax for creating a heatmap

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap later.
# fig.add_layer(heatmap_layer)

# 6. Call the figures to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Vaini,TO,2022-05-10 00:23:06,-21.2000,-175.2000,77.16,61,40,6.91
3,3,Kapaa,US,2022-05-10 00:28:10,22.0752,-159.3190,82.72,73,20,13.80
11,11,Hambantota,LK,2022-05-10 00:31:53,6.1241,81.1185,79.14,94,20,10.36
13,13,Atuona,PF,2022-05-10 00:24:30,-9.8000,-139.0333,78.64,76,25,20.54
25,25,Georgetown,MY,2022-05-10 00:24:43,5.4112,100.3354,84.13,93,20,3.44
28,28,Wanning,CN,2022-05-10 00:32:00,18.8003,110.3967,82.80,79,87,7.25
30,30,Cockburn Town,TC,2022-05-10 00:32:01,21.4612,-71.1419,80.56,78,40,2.30
34,34,Bathsheba,BB,2022-05-10 00:27:11,13.2167,-59.5167,81.21,74,40,11.50
41,41,Rikitea,PF,2022-05-10 00:32:06,-23.1203,-134.9692,76.69,70,41,11.03
52,52,Tevaitoa,PF,2022-05-10 00:33:12,-16.7833,-151.5000,82.06,75,21,14.23

In [13]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1           Vaini      TO     77.16 -21.2000 -175.2000
3           Kapaa      US     82.72  22.0752 -159.3190
11     Hambantota      LK     79.14   6.1241   81.1185
13         Atuona      PF     78.64  -9.8000 -139.0333
25     Georgetown      MY     84.13   5.4112  100.3354
28        Wanning      CN     82.80  18.8003  110.3967
30  Cockburn Town      TC     80.56  21.4612  -71.1419
34      Bathsheba      BB     81.21  13.2167  -59.5167
41        Rikitea      PF     76.69 -23.1203 -134.9692
52       Tevaitoa      PF     82.06 -16.7833 -151.5000

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictinary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
3,Kapaa,US,82.72,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
13,Atuona,PF,78.64,-9.8000,-139.0333,Villa Enata
25,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
28,Wanning,CN,82.80,18.8003,110.3967,Paradise Hotel
30,Cockburn Town,TC,80.56,21.4612,-71.1419,Osprey Beach Hotel
34,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
41,Rikitea,PF,76.69,-23.1203,-134.9692,People ThankYou
52,Tevaitoa,PF,82.06,-16.7833,-151.5000,Hôtel Raiatea Lodge

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                 dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))